body {
  padding: 25px;
  background: url(Images/GoldBackground.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
}


header {
  color: black;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 2em;
}

section {
  margin: 2em 0;
}

footer {
  color: black;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
